body {
    margin: 0;
}
.main {
    width: 100%;
}
.image {
    width: 25%;
    height: auto;
    margin: auto;
}
.image img {
    width: 100%;
    border: .5px solid #acacac;
}
#url {
    width: 100%;
    text-align: center;
}
#url p {
    margin: 0;
}
form {
    width: 100%;
}
.fieldset {
    width: 25%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fieldset input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #acacac;
    height: 25px;
    display: none;
}
.btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #d56d00;
    color: #fff;
    box-shadow: none;
    border: 1px solid #acacac;
    border-radius: 5px;
    cursor: pointer;
}
label {
    width: 100%;
    padding-top: 15px;
    display: block;
    padding-bottom: 15px;
    text-align: center;
    background: #cc7171;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.btn-disabled {
    background: rgb(183, 148, 110);
    cursor: not-allowed;
    cursor: pointer;
}
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(125, 125, 125, 0.5);
}
#loading.none {
    display: none;
}
.loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

@media only screen and (max-width: 768px) {
    .image {
        width: 50%;
    }
    .fieldset {
        width: 50%;
    }
}